{{#items}}
${{name}}: {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}}
{{/items}}

=sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 1)
  $sprite-offset-y: nth($sprite, 2)
  background-position: $sprite-offset-x  $sprite-offset-y

=sprite($sprite)
  display: inline-block
  width: nth($sprite, 3)
  height: nth($sprite, 4)
  +sprite-position($sprite)
  background-repeat: no-repeat
  background-size: nth($sprite, 5) nth($sprite, 6)

{{#items}}
{{class}}
  +sprite(${{name}})
  background-image: url('~_images/{{{escaped_image}}}')
  {{#escaped_image_2x}}
  @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)
    background-image: url('~_images/{{{escaped_image_2x}}}')
  {{/escaped_image_2x}}
  
{{/items}}
