{{#items}}
${{name}} = {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}}
{{/items}}

=sprite($sprite)
  display inline-block
  width $sprite[2]
  height $sprite[3]
  background-position $sprite[0] $sprite[1]
  background-repeat no-repeat
  background-size $sprite[4] $sprite[5]

{{#items}}
{{class}}
  sprite(${{name}})
  background-image url('~_images/{{{escaped_image}}}')
  {{#escaped_image_2x}}
  @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)
    background-image url('~_images/{{{escaped_image_2x}}}')
  {{/escaped_image_2x}}
  
{{/items}}